* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

#change-button {
    position: absolute;
    background-color: rgb(238, 238, 238);
    text-decoration: underline;
    color: black;
    font-weight: bold;
    top: 20px;
    left: 40px;
}

.corpo {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(238, 238, 238);
    overflow-x: hidden;
}

.algoritmo {
    padding-bottom: 60px;
    margin-bottom: 50px;
    border-bottom: solid 2px black;
}

.algoritmo h1 {
    text-align: center;
    text-decoration: underline;
}

.algoritmo p, .algoritmo h3 {
    padding: 0;
    border: 0;
    margin: 0;
}

.algoritmo h3 {
    margin-top: 12px;
}

.algoritmo pre {
    background: rgb(40, 42, 54);
    border: 1px solid #ddd;
    border-radius: 12px;
    color: rgb(196, 196, 196);
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.5em 0;
    display: block;
    word-wrap: break-word;
}

.algoritmo table {
    margin-bottom: 30px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.algoritmo td, .algoritmo th {
    border: 1px solid #dddddd;
    text-align: right;
    padding: 8px;
}

.algoritmo tr:nth-child(even) {
    background-color: #dddddd;
}

.tabela {
    margin-top: 40px;
}